'body':
  'ctrl-g': 'core:cancel'
  'alt-x': 'command-palette:toggle'
  'ctrl-x ctrl-c': 'application:quit'
  'ctrl-x k': 'core:close'
  'ctrl-x ctrl-f': 'fuzzy-finder:toggle-file-finder'
  'ctrl-x b': 'fuzzy-finder:toggle-buffer-finder'
  'ctrl-x 3': 'pane:split-right'
  'ctrl-x 2': 'pane:split-down'
  'ctrl-x 0': 'pane:close'
  'ctrl-x 1': 'emacs-hjkl:close-other-panes'
  'ctrl-x o': 'window:focus-next-pane'

  'ctrl-h': 'tree-view:collapse-directory'
  'alt-l': 'tree-view:expand-item'
  'alt-k': 'core:move-up'
  'alt-j': 'core:move-down'

'atom-text-editor':
    'alt-d': 'emacs-hjkl:kill-word'

'body.platform-darwin':
  'cmd-x': 'emacs-hjkl:cut'
  'cmd-c': 'emacs-hjkl:copy'

'body.platform-linux':
  'shift-delete': 'emacs-hjkl:cut'
  'ctrl-insert': 'emacs-hjkl:copy'
  'ctrl-x': 'emacs-hjkl:cut'
  'ctrl-c': 'emacs-hjkl:copy'

'body.platform-win32':
  'shift-delete': 'emacs-hjkl:cut'
  'ctrl-insert': 'emacs-hjkl:copy'
  'ctrl-x': 'emacs-hjkl:cut'
  'ctrl-c': 'emacs-hjkl:copy'

'atom-workspace atom-text-editor':
  # Navigation
  'alt-h': 'emacs-hjkl:backward-char'
  'left': 'emacs-hjkl:backward-char'
  'alt-l': 'emacs-hjkl:forward-char'
  'right': 'emacs-hjkl:forward-char'
  'alt-b': 'emacs-hjkl:backward-word'
  'alt-left': 'emacs-hjkl:backward-word'
  'alt-f': 'emacs-hjkl:forward-word'
  'alt-right': 'emacs-hjkl:forward-word'
  'ctrl-alt-b': 'emacs-hjkl:backward-sexp'
  'ctrl-alt-f': 'emacs-hjkl:forward-sexp'
  'alt-{': 'emacs-hjkl:backward-paragraph'
  'alt-}': 'emacs-hjkl:forward-paragraph'
  'alt-m': 'emacs-hjkl:back-to-indentation'
  'alt-a': 'editor:move-to-beginning-of-line'
  'alt-<': 'core:move-to-top'
  'alt->': 'core:move-to-bottom'

  # fixing
  '': 'editor:delete-to-end-of-word'

  # Killing & Yanking
  'alt-backspace': 'emacs-hjkl:backward-kill-word'
  'ctrl-k': 'emacs-hjkl:kill-line'
  'ctrl-w': 'emacs-hjkl:kill-region'
  'alt-w': 'emacs-hjkl:copy-region-as-kill'
  'ctrl-alt-w': 'emacs-hjkl:append-next-kill'
  'ctrl-y': 'emacs-hjkl:yank'
  'alt-y': 'emacs-hjkl:yank-pop'
  'alt-shift-y': 'emacs-hjkl:yank-shift'

  # Editing
  'alt-\\': 'emacs-hjkl:delete-horizontal-space'
  'alt-^': 'emacs-hjkl:delete-indentation'
  'ctrl-o': 'emacs-hjkl:open-line'
  'alt-space': 'emacs-hjkl:just-one-space'
  'ctrl-t': 'emacs-hjkl:transpose-chars'
  'alt-t': 'emacs-hjkl:transpose-words'
  'ctrl-alt-t': 'emacs-hjkl:transpose-sexps'
  'ctrl-x ctrl-t': 'emacs-hjkl:transpose-lines'
  'ctrl-x ctrl-l': 'emacs-hjkl:downcase-word-or-region'
  'ctrl-q': 'emacs-hjkl:downcase-word-or-region'
  'ctrl-x ctrl-u': 'emacs-hjkl:upcase-word-or-region'
  'alt-u': 'emacs-hjkl:upcase-word-or-region'
  'alt-c': 'emacs-hjkl:capitalize-word-or-region'
  'ctrl-j': 'editor:newline'
  'ctrl-/': 'core:undo'
  'ctrl-_': 'core:undo'
  'ctrl-x u': 'core:undo'
  'alt-/': 'autocomplete-plus:activate'
  'alt-q': 'autoflow:reflow-selection'
  'alt-;': 'editor:toggle-line-comments'

  # Marking & Selecting
  'ctrl-space': 'emacs-hjkl:set-mark'
  'ctrl-alt-space': 'emacs-hjkl:mark-sexp'
  'ctrl-x h': 'emacs-hjkl:mark-whole-buffer'
  'ctrl-x ctrl-x': 'emacs-hjkl:exchange-point-and-mark'

  # UI
  'ctrl-g': 'core:cancel'
  'ctrl-x ctrl-s': 'core:save'
  'ctrl-x ctrl-w': 'core:save-as'
  'alt-.': 'symbols-view:toggle-file-symbols'

'atom-text-editor:not(.autocomplete-active):not(.mini)':
  # Navigation
  'alt-k': 'emacs-hjkl:previous-line'
  'up': 'emacs-hjkl:previous-line'
  'alt-j': 'emacs-hjkl:next-line'
  'down': 'emacs-hjkl:next-line'

  # Scrolling
  'ctrl-l': 'emacs-hjkl:recenter-top-bottom'
  'ctrl-v': 'emacs-hjkl:scroll-up'
  'alt-v': 'emacs-hjkl:scroll-down'

'.platform-linux atom-workspace.emacs-hjkl atom-text-editor':
  'ctrl-d': 'core:delete'
  'ctrl-e': 'editor:move-to-end-of-screen-line'

'.platform-linux atom-workspace atom-text-editor:not([mini]),
 .platform-win32 atom-workspace atom-text-editor:not([mini])':
  'ctrl-j': 'editor:newline'

'.platform-linux atom-workspace atom-text-editor:not(.autocomplete-active):not([mini]),
 .platform-win32 atom-workspace atom-text-editor:not(.autocomplete-active):not([mini])':
  'ctrl-/': 'core:undo'

'.platform-win32 atom-workspace.emacs-hjkl atom-text-editor':
  'ctrl-d': 'core:delete'
  'ctrl-e': 'editor:move-to-end-of-screen-line'
  'ctrl-k ctrl-k': 'editor:cut-to-end-of-line'

'atom-workspace .find-and-replace atom-text-editor':
  'ctrl-s': 'find-and-replace:confirm'
  'ctrl-r': 'find-and-replace:show-previous'

'.go-to-line atom-text-editor[mini] input':
  'ctrl-g': 'core:cancel'

'.tree-view-dialog atom-text-editor[mini]':
  'ctrl-g': 'core:cancel'

'atom-panel.left, atom-panel.right':
  'ctrl-g': 'tool-panel:unfocus'

'.platform-linux atom-workspace, .platform-win32 atom-workspace':
  'alt-g g': 'go-to-line:toggle'
  'alt-g alt-g': 'go-to-line:toggle'
  'ctrl-g': 'core:cancel'

'.platform-win32 .go-to-line atom-text-editor[mini] input':
  'ctrl-g': 'core:cancel'

'.platform-darwin':
  'alt-g g': 'go-to-line:toggle'
  'alt-g alt-g': 'go-to-line:toggle'
  'ctrl-g': 'core:cancel'

'.platform-darwin .go-to-line atom-text-editor[mini] input':
  'ctrl-g': 'core:cancel'

'atom-text-editor.autocomplete-active':
  'ctrl-g': 'autocomplete-plus:cancel'

'atom-text-editor !important, atom-text-editor[mini] !important':
  'ctrl-g': 'editor:consolidate-selections'
