# UNSET DEFAULT KEYMAP
'.platform-darwin .editor':
      'alt-d': 'unset!'
      'alt-h': 'unset!'

# FIXING DEFAULT KEYMAP
'.platform-darwin .editor:not(.mini)':
      'alt-d': 'emacs-hjkl:kill-word'
      'alt-h': 'emacs-hjkl:backward-char'
      'alt-l': 'emacs-hjkl:forward-char'

'body':
    # Fixing tree view
    'alt-h': 'tree-view:collapse-directory'
    'alt-l': 'tree-view:expand-item'
    'alt-k': 'core:move-up'
    'alt-j': 'core:move-down'

    # Panes
    'ctrl->': 'pane:split-right'
    'ctrl-<': 'pane:split-down'
    'ctrl-p': 'pane:close'
    'ctrl-o': 'emacs-hjkl:close-other-panes'
    'ctrl-l': 'window:focus-next-pane'
    'ctrl-h': 'window:focus-pane-on-right'


    'atom-workspace atom-text-editor':
        # Navigation
        'alt-b': 'emacs-hjkl:backward-word'
        'alt-f': 'emacs-hjkl:forward-word'
        'alt-{': 'emacs-hjkl:backward-paragraph'
        'alt-}': 'emacs-hjkl:forward-paragraph'
        'alt-m': 'emacs-hjkl:back-to-indentation'
        'alt-a': 'editor:move-to-beginning-of-line'
        'alt->': 'core:move-to-top'
        'alt-<': 'core:move-to-bottom'
